@import url("https://fonts.googleapis.com/css2?family=Oswald&family=Playfair+Display&family=Roboto&display=swap");
.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

.lds-ellipsis div {
  position: absolute;
  top: 33px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: #fff;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}

.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}

.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}

@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.app {
  width: 100%;
  height: 100vh;
  font-family: "Oswald", "Roboto", "Playfair Display", sans-serif;
  max-height: -moz-fit-content;
  max-height: fit-content;
  background: linear-gradient(rgba(50, 20, 20, 0.5), rgba(50, 20, 20, 0.3)), url(./assets/image-002.jpg) center center no-repeat;
  background-size: cover, cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.app h1,
.app h2,
.app h3,
.app h4,
.app h5,
.app h6 {
  font-family: "Oswald";
}
.app p {
  font-family: "Roboto";
}
.app .app__text h1 {
  text-transform: uppercase;
  margin-bottom: 0.5rem;
  font-size: 4rem;
  color: #fffafa;
}
.app .app__text p {
  color: #d3d3d3;
  font-size: 1.1rem;
}
.app .app__button {
  position: absolute;
  bottom: 4rem;
  width: 18%;
}
.app .app__button button {
  background-color: #fffafa;
  color: #321414;
  font-size: 1.2rem;
  font-weight: 700;
  width: 100%;
  border-radius: 1rem;
  padding: 20px 40px;
  border: none;
}
.app #developed {
  font-size: 1.1rem;
  letter-spacing: 2px;
  color: #6c3800;
  position: absolute;
  bottom: 2rem;
  right: 2rem;
}
.app #developed a {
  margin-left: 2px;
  color: #bb6528;
  text-decoration: none;
}

.weather {
  height: 100%;
  width: 100%;
  background-color: rgba(50, 20, 20, 0.7);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  color: #fffafa;
}
.weather .weather__search {
  width: 50%;
  height: 8%;
}
.weather .weather__search form {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}
.weather .weather__search form #search--pin {
  width: auto;
  height: 50%;
  color: rgba(211, 211, 211, 0.5);
  margin-right: 2px;
}
.weather .weather__search form input {
  background-color: rgba(255, 250, 250, 0.1);
  width: 90%;
  height: 100%;
  border-radius: 5px;
  border: none;
  font-size: 1.8rem;
  color: #fffafa;
  padding-left: 12px;
}
.weather .weather__search form input::-moz-placeholder {
  font-size: 1rem;
}
.weather .weather__search form input::placeholder {
  font-size: 1rem;
}
.weather .weather__search form input:focus {
  outline: none;
}
.weather .weather__status {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.weather .weather__status p {
  font-size: 14rem;
  margin: 0;
}
.weather .weather__status h3 {
  text-transform: capitalize;
  font-size: 1.8rem;
}
.weather .weather__temp {
  font-size: 5.5rem;
}
.weather .weather__temp h3 {
  font-family: "Playfair Display";
  letter-spacing: 1px;
}
.weather .details--box, .weather .weather__details .weather__details--Wind, .weather .weather__details .weather__details--Pressure, .weather .weather__details .weather__details--Humidity {
  border-radius: 20px;
  padding: 1rem;
  min-width: 28%;
  max-width: -moz-fit-content;
  max-width: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.weather .details--box h4, .weather .weather__details .weather__details--Wind h4, .weather .weather__details .weather__details--Pressure h4, .weather .weather__details .weather__details--Humidity h4 {
  font-size: 1.2rem;
}
.weather .details--box p, .weather .weather__details .weather__details--Wind p, .weather .weather__details .weather__details--Pressure p, .weather .weather__details .weather__details--Humidity p {
  font-size: 1.4rem;
  display: flex;
  align-items: center;
}
.weather .weather__details {
  display: flex;
  justify-content: space-between;
  width: 30%;
  height: 12%;
}
.weather .weather__details .weather__details--Humidity {
  background-color: rgba(108, 56, 0, 0.5);
}
.weather .weather__details .weather__details--Pressure {
  background-color: rgba(50, 20, 20, 0.8);
}
.weather .weather__details .weather__details--Wind {
  background-color: rgba(169, 169, 169, 0.2);
}

@media (min-width: 600px) and (max-width: 1204px) {
  .app .app__button {
    width: 45%;
    max-width: 25rem;
  }
  .app #developed {
    font-size: 0.9rem;
    bottom: 1rem;
    right: 1rem;
  }
  .weather .weather__search {
    width: 59%;
    height: 7%;
  }
  .weather .weather__details {
    width: 50%;
  }
}
@media (min-width: 300px) and (max-width: 599px) {
  .app {
    height: auto;
    min-height: 100vh;
    overflow-y: scroll;
  }
  .app .app__text h1 {
    font-size: 3.4rem;
  }
  .app .app__button {
    width: 40%;
    min-width: 145px;
  }
  .app #developed {
    font-size: 0.8rem;
    bottom: 0.7rem;
    right: 1rem;
  }
  .weather {
    width: 100%;
    min-height: 100vh;
    max-height: 100%;
  }
  .weather .weather__search {
    width: 80%;
    height: 7%;
  }
  .weather .weather__search form {
    margin-top: 2rem;
  }
  .weather .weather__details {
    width: 50%;
  }
  .weather .weather__details {
    width: 90%;
    flex-direction: column;
    align-items: center;
    width: 80%;
    height: -moz-fit-content;
    height: fit-content;
    padding: 1rem 0;
  }
  .details--box, .weather .weather__details .weather__details--Humidity, .weather .weather__details .weather__details--Pressure, .weather .weather__details .weather__details--Wind {
    width: 10rem;
    margin-bottom: 1rem;
  }
}/*# sourceMappingURL=styles.css.map */