@import "./Utils/_variables.scss";
@import "./Abstracts/spinner.scss";

// fonts
@import url("https://fonts.googleapis.com/css2?family=Oswald&family=Playfair+Display&family=Roboto&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#root {
  height: 100vh;
}

.app {
  width: 100%;
  height: 100%;
  font-family: "Oswald", "Roboto", "Playfair Display", sans-serif;
  max-height: fit-content;
  background: linear-gradient(rgba($black, 0.5), rgba($black, 0.3)),
    url(./assets/image-002.jpg) center center no-repeat;
  background-size: cover, cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: "Oswald";
  }

  p {
    font-family: "Roboto";
  }

  .app__text {
    h1 {
      text-transform: uppercase;
      margin-bottom: 0.5rem;
      font-size: 4rem;
      color: $white;
    }

    p {
      color: $grey;
      font-size: 1.1rem;
    }
  }

  .app__button {
    position: absolute;
    bottom: 4rem;
    width: 18%;

    button {
      background-color: $white;
      color: $black;
      font-size: 1.2rem;
      font-weight: 700;
      width: 100%;
      border-radius: 1rem;
      padding: 20px 40px;
      border: none;
      cursor: pointer;
    }
  }

  #developed {
    font-size: 1.1rem;
    letter-spacing: 2px;
    color: $dark-brown;
    position: absolute;
    bottom: 2rem;
    right: 2rem;

    a {
      margin-left: 2px;
      color: rgba($brown, 1);
      text-decoration: none;
    }
  }
}

// Weather component
.weather {
  height: 100%;
  width: 100%;
  background-image: center center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  color: $white;

  .weather__search {
    width: 50%;
    height: 8%;

    form {
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;

      #search--pin {
        width: auto;
        height: 50%;
        color: rgba($grey, 0.5);
        margin-right: 2px;
      }

      input {
        background-color: rgba($white, 0.1);
        width: 90%;
        height: 100%;
        border-radius: 5px;
        border: none;
        font-size: 1.8rem;
        color: $white;
        padding-left: 12px;
      }

      input::placeholder {
        font-size: 1rem;
      }

      input:focus {
        outline: none;
      }
    }
  }

  .weather__status {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    p {
      font-size: 14rem;
      margin: 0;
    }

    h3 {
      text-transform: capitalize;
      font-size: 1.8rem;
    }
  }

  .weather__temp {
    font-size: 5.5rem;
    h3 {
      font-family: "Playfair Display";
      letter-spacing: 1px;
    }
  }

  .details--box {
    border-radius: 20px;
    padding: 1rem;
    min-width: 28%;
    max-width: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    h4 {
      font-size: 1.2rem;
    }

    p {
      font-size: 1.4rem;
      display: flex;
      align-items: center;
    }
  }

  .weather__details {
    display: flex;
    justify-content: space-between;
    width: 30%;
    height: 12%;

    .weather__details--Humidity {
      @extend .details--box;
      background-color: rgba($dark-brown, 0.5);
    }

    .weather__details--Pressure {
      @extend .details--box;
      background-color: rgba($black, 0.8);

      span {
        font-size: 1.5rem;
      }
    }

    .weather__details--Wind {
      @extend .details--box;
      background-color: rgba($dark-grey, 0.2);
    }
  }
}

// Media Queries
@media (min-width: 600px) and (max-width: 1204px) {
  .app {
    .app__button {
      width: 45%;
      max-width: 25rem;
    }

    #developed {
      font-size: 0.9rem;
      bottom: 1rem;
      right: 1rem;
    }
  }

  .weather {
    .weather__search {
      width: 59%;
      height: 7%;
    }

    .weather__details {
      width: 50%;
    }
  }
}

@media (min-width: 300px) and (max-width: 599px) {
  .app {
    height: auto;
    min-height: 100vh;
    overflow-y: scroll;

    .app__text {
      h1 {
        font-size: 3.4rem;
      }
    }

    .app__button {
      width: 40%;
      min-width: 145px;
    }

    #developed {
      font-size: 0.8rem;
      bottom: 0.7rem;
      right: 1rem;
    }
  }

  .weather {
    width: 100%;
    min-height: 100vh;
    max-height: 100%;
    .weather__search {
      width: 80%;
      height: 7%;

      form {
        margin-top: 2rem;
      }
    }

    .weather__details {
      width: 50%;
    }

    .weather__details {
      width: 90%;
      flex-direction: column;
      align-items: center;
      width: 80%;
      height: fit-content;
      padding: 1rem 0;
    }
  }

  .details--box {
    width: 10rem;
    margin-bottom: 1rem;
  }
}

// general
.bg-properties {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

// backgound classes
.thunderBg {
  background-image: url(./assets/thunder.jpg);
  @extend .bg-properties;
}

.rainBg {
  background-image: url(./assets/light-rain.jpg);
  @extend .bg-properties;
}

.heavyRainBg {
  background-image: url(./assets/heavy-rain.jpg);
  @extend .bg-properties;
}

.snowBg {
  background-image: url(./assets/snow.jpg);
  @extend .bg-properties;
}

.mistBg {
  background-image: url(./assets/mist.jpeg);
  @extend .bg-properties;
}

.fogBg {
  background-image: url(./assets/fog.jpg);
  @extend .bg-properties;
}

.sandBg {
  background-image: url(./assets/sand.jpg);
  @extend .bg-properties;
}

.clearBg {
  background-image: url(./assets/clear.jpg);
  @extend .bg-properties;
}

.cloudsBg {
  background-image: url(./assets/clouds.jpg);
  @extend .bg-properties;
}
